@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema Controle de Stock</h1>
    <p>Projeto de Desenvolvimento de Software <a href="https://www.up.edu.br/">Universidade Positivo - 2020</a>.</p>
</div>
